<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="form-container">
        <h2>Заблокировать</h2>

        <!-- Блок для вывода сообщений -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for category, message in messages %}
                        <li class="flash-message {{ category }}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    

        <!-- Контейнер рубильника -->
        <div class="switch-container">
            <div class="lever-box {% if is_pressed %}active{% endif %}" id="toggleLever">
                <div class="lever"></div>
            </div>
        </div>

        <!-- Кнопка выхода -->
        <a href="{{ url_for('logout') }}">
            <button class="btn">Выйти</button>
        </a>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
