.text-field, .password-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

.text-field:focused {
    -fx-border-width: 0 0 2 0;
}

.text-field:invalid {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: red;
}

.form-container {
    -fx-alignment: center;
    -fx-spacing: 10;
}

/* Стиль для кнопки */
.button {
    -fx-background-color: #673AB7;
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-min-width: 300px;
    -fx-min-height: 60px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #5E35B1;
}

.button:pressed {
    -fx-background-color: #512D6D;
}

.hyperlink {
    -fx-text-fill: #1E88E5; /* Цвет текста */
    -fx-font-size: 14px;    /* Размер шрифта */
    -fx-underline: true;    /* Подчеркивание */
}

.hyperlink:hover {
    -fx-text-fill: #1565C0; /* Цвет текста при наведении */
}

.
